@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin has-bg {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin font-size($size, $lh) {
  font-size: $size / 16 + rem;
  line-height: $lh/$size;
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin phone {
  @media (min-width: "480px") {
    @content;
  }
}

@mixin tablet {
  @media (min-width: "768px") {
    @content;
  }
}

@mixin desktop {
  @media (min-width: "992px") {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: "1200px") {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: "1400px") {
    @content;
  }
}
