*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  @include font-size(16, 20);
  font-weight: 400;
  color: $black;
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
}
